<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />

  <title>{% block title %}Home{% endblock %}</title>

  <style>

.list-group-item h5 {
  color: #0f3c6c;  
  font-size: 16px;  
}
.list-group-item h4 {
  font-size: 20px;  
}

.list-group-item h6 {
  color: #6c757d;  
  font-size: 14px;  
}



.list-group-item p {
  font-size: 16px; 
}

    .navbar {
      background-color: rgba(0, 0, 0, 0.8) !important; 
      color: #fff; 
    }

    .navbar-nav .nav-item {
      margin-right: 10px;
    }

    .navbar-collapse {
      justify-content: flex-end; 
    }

    .navlink {
      margin-top: 10px;
    }

    .navbar-nav .dropdown-menu .nav-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-nav .dropdown-menu .nav-item .nav-link {
      color: #333 !important; 
      outline: none;
    }

    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .container {
      text-align: center;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Schedule Master</a>
    <img src="https://tmetric.com/media/qfwptni2/work-schedules-header-banner.png" alt="Logo" style="height: 40px; margin-right: 10px;">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View
          </a>
          <div class="dropdown-menu" aria-labelledby="viewDropdown">
            <a class="dropdown-item" href="{{ url_for('views.weekly_view') }}">Weekly View</a>
            <a class="dropdown-item" href="{{ url_for('views.monthly_view') }}">Monthly View</a>
            <a class="dropdown-item" href="{{ url_for('views.yearly_view') }}">Yearly View</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="colorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Background Color
          </a>
          <div class="dropdown-menu" aria-labelledby="colorDropdown">
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('white')">White</a>
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('antiquewhite')">Cream</a>
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('lightblue')">Blue</a>
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('lightgreen')">Green</a>
            <a class="dropdown-item" href="#" onclick="changeBackgroundColor('pink')">Pink</a>
          </div>
        </li>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        {% else %}
        <a class="nav-item nav-link" id="login" href="/login">Login</a>
        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>
  

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'error' %}
  <div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}

  <div class="container">{% block content %} {% endblock %}</div>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

{% block javascript %}
  <script type="text/javascript">


function deleteNote(noteId) {
    if (confirm("Are you sure you want to delete this note?")) {
        fetch('/delete-note', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ noteId: noteId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert(data.message); 
                location.reload(); 
            } else {
                alert(data.message); 
            }
        })
        .catch(error => {
            console.error('Error deleting note:', error);
            alert('Failed to delete note.');
        });
    }
}


function editNote(noteId, title, data) {
    const newTitle = prompt("Edit title:", title);
    const newData = prompt("Edit your note:", data);
    if (newTitle !== null && newData !== null) {
        fetch('/update_note', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `note_id=${noteId}&new_title=${encodeURIComponent(newTitle)}&new_content=${encodeURIComponent(newData)}`
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            location.reload();  
        })
        .catch(error => console.error('Error updating note:', error));
    }
}

function toggleNoteContent(noteElement) {
    const content = noteElement.querySelector('.note-content');
    if (content.style.display === 'block') {
        content.style.display = 'none';
        content.classList.remove('note-expanded');
    } else {
        content.style.display = 'block';
        content.classList.add('note-expanded');
        content.style.height = content.scrollHeight + 'px'; 
    }
}


function changeBackgroundColor(color) {
    document.body.style.backgroundColor = color;
    localStorage.setItem('backgroundColor', color);
}

window.onload = function() {
    var savedColor = localStorage.getItem('backgroundColor');
    if (savedColor) {
      document.body.style.backgroundColor = savedColor;
    }
  };


document.getElementById('add-note-form').addEventListener('submit', async (e) => {
    e.preventDefault();
    const title = document.getElementById('title').value;
    const content = document.getElementById('note').value;
    const date = document.getElementById('note-date').value;
    const hour = document.getElementById('hour').value;
    const repeatFrequency = document.getElementById('repeat-frequency').value;
    const repeatDuration = document.getElementById('repeat-duration').value;

    const response = await fetch('/add_note', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({title, date, hour, content, repeat_frequency: repeatFrequency, repeat_duration: repeatDuration})
    });

    if (response.ok) {
        const result = await response.json();
        alert(result.message);
        location.reload();  // Reload the page to show the new note
    } else {
        alert('Error adding note');
    }
});

function toggleUSHolidays(enable) {
    console.log(`Toggling holidays, enable: ${enable}`);
    fetch('/toggle-us-holidays', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({addHolidays: enable})
    }).then(response => response.json())
      .then(data => {
        alert(data.message);
        location.reload();
    }).catch(error => {
        console.error('Error toggling holidays:', error);
        alert('Failed to toggle holidays.');
    });
}





  </script>
{% endblock %}
</body>
</html>