{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Upcoming Notes</h1>
<div class="container mt-4">
    {% if notes %}
    <ul class="list-group">
        {% for note in notes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5>{{ note.date.strftime('%A, %B %d, %Y') }}</h5>
                <h6>Time: {{ note.hour }}:00</h6>
                <h4>{{ note.title }}</h4> <!-- Display the title of the note -->
                <p>{{ note.data }}</p> <!-- Display the content of the note -->
            </div>
            <div>
              <button type="button" onclick="editNote('{{ note.id }}', '{{ note.title }}', '{{ note.data }}')" class="btn btn-primary">Edit</button>
              <button type="button" onclick="deleteNote({{ note.id }})" class="btn btn-danger">Delete</button>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No upcoming notes.</p>
    {% endif %}
</div>
  

  <form id="add-note-form">
    <input type="text" id="title" name="title" class="form-control" placeholder="Enter title here..." required>
    <textarea name="note" id="note" class="form-control" rows="4" cols="50" placeholder="Enter your note here..." required></textarea>
    <br />
    <div align="center">
        <input type="date" name="date" id="note-date" required>
        <br>
        <label for="hour">Hour:</label>
        <select name="hour" id="hour" required>
            {% for hour in range(24) %}
            <option value="{{ hour }}">{{ '%02d:00' % hour }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>

  <div>
    <a href="{{ url_for('views.weekly_view') }}" class="btn">Weekly View</a>
    <a href="{{ url_for('views.monthly_view') }}" class="btn">Monthly View</a>
    <a href="{{ url_for('views.yearly_view') }}" class="btn">Yearly View</a>
  </div>

  <script>







  </script>
{% endblock %}