{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <style>
    body {
      background-image: url("{{ url_for('static', filename='SchedulerBackground.png') }}");
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      font-family: Arial, sans-serif;
    }
    .container-fluid {
      margin-bottom: 255px;
      height: 100%; 
      display: flex;
      flex-direction: column;
    }
  
    form {
      margin-top: 90px; 
    }
  </style>
  <body>
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-6">
        <form method="POST">
          <h3 align="center">Sign Up</h3>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
              {% if email %} value="{{ email }}"{% endif %}
            />
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="Enter first name"
              {% if first_name %} value="{{ first_name }}"{% endif %}
            />
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Enter password"
            />
            <span class="password-note">Password must be at least 7 characters long and contain a special character and an uppercase and lowercase letter.</span>
          </div>
          <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Confirm password"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>
</body>

  {% endblock %}